*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.black_txt{
    color: black;
}

.white_txt{
    color: white;
}

#Logo{
    width: 15%;
    margin-bottom: 20px;
}

#Container{
    width: 900px;
    margin: auto;
}

nav{
    margin-bottom: 20px;
}

nav > a{
    color: inherit;
    text-decoration: none;

    margin-right: 15px;
}

.block_top{
    width: 100%;
    height: 300px;

    border-radius: 5px;

    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: auto;

    margin-bottom: 20px;
}

.sidebar_left, .sidebar_right{
    width: 20%;

    float: left;

    border-radius: 5px;
}

.sidebar_left{
    margin-right: 5%;
}

.sidebar_right{
    margin-left: 5%;  
}

.content{
    width: 50%;
/*     height: 400px; */
    float: left;

    border-radius: 5px;
}

footer{
    float: left;
    width: 100%;

    text-align: center;
    color: black;

    margin-top: 10px;
}

#img_left, #img_center, #img_right{
    height: 150px;
    background-color: lightgray;
    background-size: cover;


    margin-bottom: 12px;
}

.mb10{
    margin-bottom: 10px;
}

#img_left{
    background-image: url("../img/img-1.jpg");

}

#img_center{
    background-image: url("../img/banner-2.jpg");
}

#img_right{
    background-image: url("../img/img-3.jpg");
}